{
  "presets": [
    "next/babel",
    "@babel/flow",
  ],
  "plugins": [
    "relay",
    "lodash",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["relay"],
      "presets": [
        ["next/babel", {
          "preset-env": {
            "modules": "commonjs"
          }
        }],
        "@babel/flow",
      ]
    }
  }
}
