{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "relay"
  ],
  "globals": {
    "log": true,
    "expect": true,
    "jest": true,
    "page": true,
    "browser": true,
    "jestPuppeteer": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 2,
    "relay/graphql-syntax": 2,
    "relay/compat-uses-vars": 1,
    "relay/graphql-naming": 2,
    "relay/generated-flow-types": 1,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "env": {
    "jest": true,
    "browser": true
  }
}
